openapi: 3.0.0

info:
  title: Dataset service
  description: 'API to manage datasets.'
  version: "1.0.0"
  contact:
    email: ds.chaimeleon-eu@i3m.upv.es
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'

externalDocs:
  description: Project source code
  url: https://github.com/chaimeleon-eu/dataset-service

servers:
  - url: https://chaimeleon-eu.i3m.upv.es/dataset-service/api
  ## Added by API Auto Mocking Plugin
  #- description: SwaggerHub API Auto Mocking
  #  url: https://virtserver.swaggerhub.com/UPV-CHAIMELEON/Dataset-service/1.0.0
    
tags:
  - name: datasets
    description: Operations with datasets
  - name: users
    description: Operations with users
  - name: licenses
    description: Operations with licenses
  - name: datasetAccesses
    description: Operations with datasetAccesses
    
  - name: datasetDetails_schema
    x-displayName: DatasetDetails
    description: <SchemaDefinition schemaRef="#/components/schemas/DatasetDetails" />
      
x-tagGroups:
  - name: OPERATIONS
    tags:
      - datasets
      - users
      - licenses
      - datasetAccesses
  - name: SCHEMAS
    tags:
      - datasetDetails_schema
      
security: 
  - bearerAuth: []
    
paths:

  /datasets:
    post:
      tags:
        - datasets
      summary: Create a new dataset
      operationId: createDataset
      description: Creates a new dataset into the system.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetCreationObject'
      responses:
        '201':
          description: item created
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: 'The URL to the dataset-explorer that you can show to the user as a link to the details of the new dataset.'
                    example: 'https://chaimeleon-eu.i3m.upv.es/dataset-service/datasets/f99017af-9015-4222-b064-77f3c1b49d8b/details'
                  apiUrl:
                    type: string
                    description: 'The URL to this API, where the details of the new dataset can be obtained.'
                    example: '/api/datasets/f99017af-9015-4222-b064-77f3c1b49d8b'
        '400':
          description: 'invalid input, object invalid'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
        - datasets
      summary: List datasets
      operationId: listDatasets
      description: |
        You can list all available datasets in the system or search by name. 
        If not searchString or empty, then all datasets are listed.
      parameters:
        - name: draft
          description: "(Optional filter) If true, only draft datasets will be shown (those created by the user); if false, only not draft datasets will be shown; if not set, both types of dataset will be shown."
          in: query
          required: false
          schema:
            type: boolean
        - name: public
          description: "(Optional filter) If true, only public datasets will be shown; if false, only non-public datasets will be shown (depending on the user permissions); if not set, both types of dataset will be shown."
          in: query
          required: false
          schema:
            type: boolean
        - name: invalidated
          description: "(Optional filter) If true, only invalidated datasets will be shown (depending on the user permissions); if false, only not invalidated datasets will be shown; if not set, both types of dataset will be shown."
          in: query
          required: false
          schema:
            type: boolean
        - name: searchString
          description: "(Optional, default is empty) Pass an optional search string (or substring)(case-insensitive) for the name or id of dataset, or author of dataset."
          in: query
          required: false
          schema:
            type: string
        - name: searchSubject
          description: |
            (Optional, default is empty)
            Pass an optional search string (or substring)(case-insensitive) for the name of a subject (actually the code, cause they are anonymised) which must be contained in the dataset.
            It can be useful for searching datasets to invalidate in case of a subject that must be taken out of the platform.
          in: query
          required: false
          schema:
            type: string
        - name: skip
          description: "(Optional, default=0) Number of records to skip for pagination."
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: limit
          description: "(Optional, default=30) Maximum number of records to return (records per page), value of 0 means no limit."
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: sortBy
          description: "(Optional, default=creationDate) The list will be sorted by this property."
          in: query
          required: false
          schema:
            type: string
            enum: 
             - "name"
             - "authorName"
             - "creationDate"
             - "studiesCount"
             - "subjectsCount"
        - name: sortDirection
          description: "(Optional) The list will be sorted in this direction."
          in: query
          required: false
          schema:
            type: string
            enum: 
             - "ascending"
             - "descending"
      responses:
        '200':
          description: "Search results matching criteria"
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    format: int32
                    description: "Total of records found with the search criteria"
                  returned:
                    type: integer
                    format: int32
                    description: "Number of records returned (can be lower than total because of skip and limit params)"
                  skipped:
                    type: integer
                    format: int32
                    description: "Number of records skipped from the beginning (as requested)"
                  limit:
                    type: integer
                    format: int32
                    description: "Limit of records fixed by the request (usually the page size)"
                  list:
                    type: array
                    items:
                      $ref: '#/components/schemas/DatasetListItem'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /datasets/{id}:
    get:
      tags:
        - datasets
      summary: Get a dataset by its id
      operationId: getDataset
      description: "Returns the details of a dataset specified by its id."
      parameters:
        - name: id
          description: "The id of the dataset."
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "successful operation"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: "not found"
    patch:
      tags:
        - datasets
      summary: Change a property of a dataset by its id
      operationId: modifyDataset
      description: "Changes a property of a dataset in the system."
      parameters:
        - name: id
          description: "The id of the dataset to modify."
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: '{"property": "public", "value": true}'
              properties:
                property:
                  type: string
                  description: |
                    The name of the property to change. 
                    The properies that can be changed depend on the current state of dataset and the current user, see the property "editablePropertiesByTheUser" returned by GET. 
                    See the DatasetDetails schema to get definitions of each of these properties.
                  enum:
                   - "draft"
                   - "public"
                   - "invalidated"
                   - "name"
                   - "description"
                   - "previousId"
                   - "license"
                   - "pids"
                   - "contactInfo"
                value:
                  type: object
                  description: "The new value to assign. The type depends on the property."
      responses:
        '200':
          description: "Successful operation."
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400': 
          description: "Bad request content."
        '404':
          description: "Not found."
    delete:
      tags:
        - datasets
      summary: Delete a dataset by its id
      operationId: deleteDataset
      description:  |
        Deletes a dataset in the system. 
        Normal users only can delete a dataset when it is still being created (or ended with error) (i.e. "creating" flag is true). Once created it can be used, and this usage will be traced, so it cannot be deleted (the deletion would hide the usage), but it can be invalidated instead.
      parameters:
        - name: id
          description: "The id of the dataset to delete."
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: "Successful operation."
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400': 
          description: "Bad request, it cannot be removed."
        '404':
          description: "Not found."

  /datasets/{id}/studies:
    get:
      tags:
        - datasets
      summary: List studies of a dataset
      operationId: getDatasetStudies
      description: "Returns the list of studies in a dataset specified by its id."
      parameters:
        - name: id
          description: "The id of the dataset."
          in: path
          required: true
          schema:
            type: string
        - name: skip
          description: "(Optional, default=0) number of studies to skip for pagination."
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: limit
          description: "(Optional, default=30) Maximum number of studies to return (records per page), value of 0 means no limit."
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        '200':
          description: "successful operation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    format: int32
                    description: "Total of records."
                  returned:
                    type: integer
                    format: int32
                    description: "Number of records returned (can be lower than total because of skip and limit params)."
                  skipped:
                    type: integer
                    format: int32
                    description: "Number of records skipped from the beginning (as requested)."
                  limit:
                    type: integer
                    format: int32
                    description: "Limit of records fixed by the request (usually the page size)."
                  list:
                    type: array
                    items:
                      $ref: '#/components/schemas/Study'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: "not found"

  /datasets/{id}/creationStatus:
    get:
      tags:
        - datasets
      summary: Get the status of creation of a dataset by its id
      operationId: getDatasetCreationStatus
      description: Returns the details of the creation of a dataset specified by its id.
      parameters:
        - name: id
          description: the id of the dataset
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "successful operation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                     - "pending"
                     - "running"
                     - "finished"
                     - "error"
                  lastMessage:
                    type: string
                    description: "The last message of the process. This can be used to show the work progress to the user."
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: "not found"

  /datasets/{id}/checkIntegrity:
    post:
      tags:
        - datasets
      summary: Check the integrity of a dataset
      operationId: checkDatasetIntegrity
      description: |
        Launch a process to read the entire dataset, calculate the hash and compare with the one stored in the creation.
        It is intended be called only from the superadmin_datasets role and automated scheduled process.
        The result will be in the property "DatasetDetails.lastIntegrityCheck".
      parameters:
        - name: id
          description: the id of the dataset
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "successful operation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  msg:
                    type: string
                    description: "A descriptive message of result."
        '401':
          $ref: '#/components/responses/Unauthorized'

  /datasets/{id}/relaunchCreationJob:
    post:
      tags:
        - datasets
      summary: Relaunch the creation job of a dataset
      operationId: relaunchDatasetCreationJob
      description: |
        (This operation is intended only for the superadmin_datasets role)
        When a creation job is interrupted (and fail) for any reason and the admin fix the problem,
        then another creation job can be launched in k8s with this operation in order to restart and complete the process of creation.
      parameters:
        - name: id
          description: the id of the dataset
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: "successful operation"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: "not found"

  /datasets/{id}/accessHistory:
    get:
      tags:
        - datasets
      summary: List accesses of a dataset
      operationId: getDatasetAccessHistory
      description: |
        (This operation is intended only for the admin_datasetAccess role)
        Returns the list of accesses to a dataset specified by its id.
      parameters:
        - name: id
          description: The id of the dataset.
          in: path
          required: true
          schema:
            type: string
        - name: skip
          description: "(Optional, default=0) Number of accesses to skip for pagination."
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
        - name: limit
          description: "(Optional, default=30) Maximum number of accesss to return (records per page), value of 0 means no limit."
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        '200':
          description: "successful operation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    format: int32
                    description: "Total of records."
                  returned:
                    type: integer
                    format: int32
                    description: "Number of records returned (can be lower than total because of skip and limit params)."
                  skipped:
                    type: integer
                    format: int32
                    description: "Number of records skipped from the beginning (as requested)."
                  limit:
                    type: integer
                    format: int32
                    description: "Limit of records fixed by the request (usually the page size)."
                  list:
                    type: array
                    items:
                      $ref: '#/components/schemas/DatasetAccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: "not found"

  /upgradableDatasets:
    get:
      tags:
        - datasets
      summary: List datasets that can be upgraded by the user
      operationId: listUpgradableDatasets
      description: |
        Lists all datasets that can be upgraded by the authenticated user. 
        Upgrade a dataset means create another dataset that improves or correct this one and thus the previousId property of the new one will be filled with the id of this one.
      responses:
        '200':
          description: "list successfully retrieved"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                      example: "00e821c4-e92b-48f7-a034-ba2df547e2bf"
                    name:
                      type: string
                      description: "Short descriptive name."
                      example: "Lung cancer v3"
        '401':
          $ref: '#/components/responses/Unauthorized'


  /users/{userName}:
    put:
      tags:
        - users
      summary: Create new user
      operationId: createUser
      description: |
        Creates a new user if not exists assigning a new unique GID. 
        The user will be able to access dataset files depending on the groups (s)he belongs.
      parameters:
        - name: userName
          description: the unique userName of the user
          example: "user1"
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example: {"uid": "d290f1ee-6c54-4b01-90e6-d701748f0851", "groups": ["data-scientists", "dataset-administrator"]}
            schema:
              type: object
              properties:
                uid:
                  type: string
                  description: The unique ID of the user.
                groups:
                  type: array
                  description: Array of the groups which the user belongs to.
                  items:
                    type: string
      responses:
        '201':
          description: item created
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
        - users
      summary: Get user GID
      operationId: getUser
      description: "Returns the gid of a user"
      parameters:
        - name: userName
          description: "The userName of the user"
          example: "user1"
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "successful operation"
          content:
            application/json:
              schema:
                type: object
                properties:
                  gid:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: "not found"

  /licenses:
    get:
      tags:
        - licenses
      summary: List licenses
      operationId: listLicenses
      description: "List all available licenses for datasets."
      responses:
        '200':
          description: "successfully retrieved the list of licenses"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/License'
        '401':
          $ref: '#/components/responses/Unauthorized'


  /datasetAccessCheck:
    post:
      tags:
        - datasetAccesses
      summary: Check the access to datasets
      operationId: checkDatasetAccess
      description: |
        It is called when a user wants to access to one or more datasets. The access will be granted or denied according to the groups of the user."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userName:
                  type: string
                  description: the unique userName of the user
                  example: "user1"
                datasets:
                  type: array
                  description: the ids of datasets to access
                  items:
                    type: string
                    format: uuid
                    example: "00e821c4-e92b-48f7-a034-ba2df547e2bf"
      responses:
        '204':
          description: access granted
        '403':
          description: access denied
          content:
            application/json:
              schema:
                type: array
                description: the ids of datasets not found, still being created, invalidated or not available for the user
                items:
                  type: string
                  format: uuid
                  example: "00e821c4-e92b-48f7-a034-ba2df547e2bf"
        '401':
          $ref: '#/components/responses/Unauthorized'

  /datasetAccess/{id}:
    post:
      tags:
        - datasetAccesses
      summary: Create new access to datasets
      operationId: createDatasetAccess
      description: |
        It is called when a user access to one or more datasets. The access will be granted (and annotated in tracer) or denied according to the groups of the user."
      parameters:
        - name: id
          description: "The id of the datasetAccess, it can be the uid of the kubernetes object (deployment, job, pod...). When the user finishes the access, the DELETE operation should be called with that same id."
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userName:
                  type: string
                  description: the unique userName of the user
                  example: "user1"
                datasets:
                  type: array
                  description: the ids of datasets to access
                  items:
                    type: string
                    format: uuid
                    example: "00e821c4-e92b-48f7-a034-ba2df547e2bf"
                toolName:
                  type: string
                  description: the name of application, framework, docker image or helm chart used to analyze or process the datasets
                  example: "tensorflow-workstation"
                toolVersion:
                  type: string
                  description: the version of application, framework, docker image or helm chart used to analyze or process the datasets
                  example: "1.1"
      responses:
        '201':
          description: item created, access granted
#         content:
#           application/json:
#             schema:
#               type: object
#               properties:
#                 status_code:
#                   type: string
#                   description: HTTP status code
#                 msg:
#                   type: string
#                   description: descriptive message
#                 datasetAccessId:
#                   type: string
#                   format: uuid
#                   description: the id of the datasetAccess created
#                   example: "00e821c4-e92b-48f7-a034-ba2df547e2bf"
        '403':
          description: access denied
        '401':
          $ref: '#/components/responses/Unauthorized'

    patch:
      tags:
        - datasetAccesses
      summary: Close a previous access to datasets
      operationId: closeDatasetAccess
      description: "It is called when a user ends the work over one o more datasets whose access have been required previously."
      parameters:
        - name: id
          description: "The id of the datasetAccess created previously, usually the uid of the kubernetes object (deployment, job, pod...)."
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  example: "succeded"
                startTime:
                  type: string
                  description: the time when the access started in iso format
                  example: "2024-01-12T13:11:48Z"
                endTime:
                  type: string
                  description: the time when the access ended in iso format
                  example: "2024-01-12T15:31:14Z"
      responses:
        '200':
          description: successful operation
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: "not found"


components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    DatasetListItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "00e821c4-e92b-48f7-a034-ba2df547e2bf"
        name:
          type: string
          description: "Short descriptive name."
          example: "Lung cancer v3"
        authorName:
          type: string
          description: "The name of the user wich created the dataset."
          example: "James Gordon"
        creationDate:
          type: string
          format: date-time
          example: '2016-08-29T09:12:33.001Z'
        draft:
          type: boolean
          description: "If true then the dataset is only accesible by the author and some properties can be modified."
        public:
          type: boolean
          description: "If false then the dataset is only accessible to users with the role access_all_datasets (consortium researchers); if true then the dataset is also accessible to all users, including external researchers and non-registered users."
        invalidated:
          type: boolean
          description: "If true the dataset can not be used and only appears in the list for the author."
        studiesCount:
          type: integer
          description: "The number of studies contained in the dataset."
        subjectsCount:
          type: integer
          description: "The number of different subjects which are related with the studies contained in the dataset."
          
    DatasetCreationObject:
      type: object
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 128
          description: "Short descriptive name."
          example: "Lung cancer v3"
        previousId:
          type: string
          format: uuid
          description: "(Optional) Specified when is a new version of a previous dataset."
          example: "00e821c4-e92b-48f7-a034-ba2df547e2bf"
        description:
          type: string
          description: "Long explanation of dataset details, statistics, links, references, improvements/modifications if it's a new version, etc."
        studies:
          type: array
          items:
            $ref: '#/components/schemas/Study'
        subjects:
          type: array
          description: 'Subjects of studies and their clinical data.'
          items:
            $ref: '#/components/schemas/Subject'
    
    DatasetDetails:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "00e821c4-e92b-48f7-a034-ba2df547e2bf"
        name:
          type: string
          minLength: 3
          maxLength: 128
          description: "Short descriptive name."
          example: "Lung cancer v3"
        previousId:
          type: string
          format: uuid
          description: "Specified when this is a new version of a previous dataset. Otherwise null."
          example: "efa2cba6-4a17-4612-8074-7e9eb9c9d7ca"
        nextId:
          type: string
          format: uuid
          description: |
            Specified when there is another dataset which is a new version of this one. Otherwise null.
            It is automatically set when the new version is released (i.e. "draft" flag changed to false).
            The new version is a dataset that have previousId referencing this one. Actually there can be more than one new versions in draft state, but only one can be released.
          example: "4bda04db-8b73-4a65-b1bb-d2011769a91a"
        authorId:
          type: string
          description: "The unique id of the user wich created the dataset, it is not for showing but it can be useful to a possible new feature to show all datasets from an author."
          example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
        authorName:
          type: string
          minLength: 3
          maxLength: 128
          description: "The name of the user wich created the dataset."
          example: "James Gordon"
        authorEmail:
          type: string
          minLength: 3
          maxLength: 128
          format: email
          description: "The email of the user wich created the dataset."
          example: "james@email.com"
        creationDate:
          type: string
          format: date-time
          example: '2016-08-29T09:12:33.001Z'
        lastIntegrityCheck:
          type: string
          format: date-time
          description: |
            The last time the integrity of dataset has been checked calculating the hash and comparing with the original saved in Tracer.
            It is null in newly created datasets and while not checked.
          example: '2016-08-29T09:12:33.001Z'
        description:
          type: string
          description: "Long explanation of dataset details, statistics, links, references, improvements/modifications if it's a new version, etc."
        license:
          type: object
          description: "Name and link to the license document."
          example: '{"title": "Creative Commons Attribution 4.0 International", "url": "https://creativecommons.org/licenses/by/4.0/legalcode"}'
          properties:
            title:
              type: string
              maxLength: 128
            url:
              type: string
              maxLength: 256
        pids:
          type: object
          description: |
            Permanent IDs as links, to show the users how the dataset should be cited.
          properties:
            preferred:
              type: string
              description: |
                The name of property in "urls" selected by the dataset creator, the preferred for references or citations.
                It is null in newly created datasets.
                The first time that the value of "zenodoDoi" is used, a deposition will be created in Zenodo for this dataset and the DOI obtained will be saved in the "urls.zenodoDoi" property.
              example: "zenodoDoi"
            urls:
              type: object
              properties:
                zenodoDoi:
                  type: string
                  readOnly: true
                  description: |
                    The Zenodo DOI in URL format, which is a link to the Zenodo deposition if it has been created for the dataset.
                    It is null in newly created datasets. It will be autogenerated when the dataset is published (without a custom pid) or, before being published, with a PATCH {"property": "pids", "value": {"preferred": "zenodoDoi"}}
                  example: "https://doi.org/10.5072/zenodo.1081030"
                custom:
                  type: string
                  description: | 
                    A custom URL that the dataset creator prefer for citations.
                    It should be not null if preferred is "custom". 
                    Example for set custom pid url: PATCH {"property": "pids", "value": {"preferred": "custom", {"urls": {"custom": "https://myDatasetsDB.com/ds327"}}}}.
                  example: "https://myDatasetsDB.com/ds327"
        contactInfo:
          type: string
          maxLength: 256
          description: "(Optional) Contact information of the responsible of the dataset, usually a name and email."
          example: "James Gordon (james@email.com)"
        draft:
          type: boolean
          description: "If true then the dataset is only accesible by the author and some properties can be modified."
        creating:
          type: boolean
          description: |
            (This flag only appears when "draft" is true) 
            If true then the dataset is still creating, and "draft" can not be changed to false until the end (it does not appear in "dataset.editablePropertiesByTheUser"). 
            The progress can be retrieved with GET /datasets/{id}/creationStatus.
            If false then the creation process has finished and "draft" already can be changed to false when the user want to release de dataset.
        public:
          type: boolean
          description: "If false then the dataset is only accessible to users with the role access_all_datasets (consortium researchers); if true then the dataset is also accessible to all users, including external researchers and non-registered users."
        invalidated:
          type: boolean
          description: "If true the dataset can not be used and only appears in the list for the author."
        editablePropertiesByTheUser:
          type: array
          description: |
            The properties that can be modified with PATCH operation by the current authenticated user in the current state of this dataset. 
            The array will be empty if no properties can be modified.
          example: '["public", "invalidated", "name", "description"]'
          items:
            type: string
        allowedActionsForTheUser:
          type: array
          description: |
            The actions that the current authenticated user can do in the current state of this dataset. 
            The actions are some operations apart from edit fields/flags which are already specified in the previous property "editablePropertiesByTheUser".
            So this property is intended for let the UI know which other actions to show apart from those related with flags, 
            like "Release" (change the flag "public") or "Invalidate" (change the flag "invalidated").
            Possible values are:
             * `use` - To launch a workstation in the platform with access to this dataset, 
                       The k8s operator will be able to do a POST /datasetAccess/{id} for this user on this dataset.
             * `delete` - To do a DELETE /datasets/{id}.
             * `checkIntegrity` - To do a POST /datasets/{id}/checkIntegrity.
             * `relaunchCreationJob` - To do a POST /datasets/{id}/relaunchCreationJob.
             * `viewAccessHistory` - To do a GET /datasets/{id}/accessHistory
          example: '["use", "checkIntegrity"]'
          items:
            type: string
            enum: 
             - "use"
             - "delete"
             - "checkIntegrity"
             - "relaunchCreationJob"
             - "viewAccessHistory"
        studiesCount:
          type: integer
          description: "The number of studies contained in the dataset"
        subjectsCount:
          type: integer
          description: "The number of different subjects which are related with the studies contained in the dataset"
        ageLow:
          type: integer
          description: |
            [Miabis] Age of the youngest subject. Null if metadata still not collected or age data empty for all studies.
            Collected from Dicom tag (0010,1010) or from the subject clinical data (inclusion_criteria.age_at_diagnosis or .age_at_baseline).
          example: '54'
        ageHigh:
          type: integer
          description: |
            [Miabis] Age of the oldest subject. Null if metadata still not collected or age data empty for all studies.
            Collected from Dicom tag (0010,1010) or from the subject clinical data (inclusion_criteria.age_at_diagnosis).
          example: '82'
        ageUnit:
          type: array
          description: |
            [Miabis] Array of two items: unit for ageLow, unit for ageHigh. 
            Empty if metadata still not collected or age data empty for all studies.
          example: '["years", "years"]'
          items:
            type: string
        ageNullCount:
          type: integer
          description: |
            The number of studies with unknown age data. 
            Null if metadata still not collected.
          example: '2'
        sex:
          type: array
          description: |
            [Miabis] Array of different sex values in the dataset. Empty if metadata still not collected.
            Collected from Dicom tag (0010,0040) or from the subject clinical data (patient_data.gender).
            Miabis standard defines the possible values: "Male", "Female", "Undifferentiated", "Unknown".
          example: '["Male", "Female", "Unknown"]'
          items:
            type: string
        sexCount:
          type: array
          description: |
            Array with the number of studies for each item of the previous 'sex' array. 
            Empty if metadata still not collected.
          example: '[348, 170, 2]'
          items:
            type: integer
        bodyPart:
          type: array
          description: |
            Array of different body parts in the dataset. Empty if metadata still not collected.
            Collected from Dicom tag (0018,0015).
            Dicom standard defines the posible values.
            Additionally the value 'Unknown' will be added at the end if there is any case with empty body part data.
          example: '["LUNG", "BRAIN", "Unknown"]'
          items:
            type: string
        bodyPartCount:
          type: array
          description: |
            Array with the number of studies for each item of the previous 'bodyPart' array. 
            Empty if metadata still not collected.
          example: '[348, 170, 2]'
          items:
            type: integer
        modality:
          type: array
          description: |
            Array of different image modalities in the dataset. Empty if metadata still not collected.
            Collected from Dicom tag (0008,0060).
            Dicom standard defines the posible values.
            Additionally the value 'Unknown' will be added at the end if there is any case with empty modality data.
          example: '["CT", "MR", "Unknown"]'
          items:
            type: string
        modalityCount:
          type: array
          description: |
            Array with the number of studies for each item of the previous 'modality' array. 
            Empty if metadata still not collected.
          example: '[348, 170, 2]'
          items:
            type: integer
        manufacturer:
          type: array
          description: |
            Array of different image equipment manufacturers in the dataset. Empty if metadata still not collected.
            Collected from Dicom tag (0008,0070) and harmonized.
            Additionally the value 'Unknown' will be added at the end if there is any case with empty manufacturer data.
          example: '["Philips", "Siemens", "Unknown"]'
          items:
            type: string
        manufacturerCount:
          type: array
          description: |
            Array with the number of studies for each item of the previous 'manufacturer' array. 
            Empty if metadata still not collected.
          example: '[348, 170, 2]'
          items:
            type: integer
        diagnosisYearLow:
          type: integer
          description: |
            The year of the oldest diagnosis. Null if metadata still not collected or year of diagnosis data empty for all studies.
            Collected from the subject clinical data (inclusion_criteria.baseline_date or .date_baseline_ct).
        diagnosisYearHigh:
          type: integer
          description: |
            The year of the most recent diagnosis. Null if metadata still not collected or year of diagnosis data empty for all studies.
            Collected from the subject clinical data (inclusion_criteria.baseline_date).
        diagnosisYearNullCount:
          type: integer
          description: |
            The number of studies with unknown year of diagnosis. 
            Null if metadata still not collected.
          example: '2'
        seriesTags:
          type: array
          description: "Array of different tags in series of the studies of the dataset."
          example: '["Axial", "T2W"]'
          items:
            type: string
        sizeInBytes:
          type: integer
          description: |
            The total size of files in all the studies and series selected for this dataset plus the eforms file. 
            Null if metadata still not collected.
          example: '2834502270'
    Study:
      type: object
      properties:
        studyId:
          type: string
          example: "5e5629835938d12160636353"
        studyName:
          type: string
          maxLength: 128
          example: "TCPEDITRICOABDOMINOPLVICOCONCONTRASTE"
        subjectName:
          type: string
          maxLength: 128
          description: "The subject name, which is anonymized and unique: there should be an entry in the subjects array with that code."
          example: "17B76FEW"
        pathInDatalake:
          type: string
          maxLength: 256
          description: |
            Path to the folder of the study in the datalake (the structure usually should be: <userName>/<subjectName>_<trial>/<studyName><studyDate>/). 
            It is required in POST /datasets but it will not be included in GET /datasets/{id} for privacy reasons.
          example: "blancagomez/17B76FEW_Neuroblastoma/TCPEDITRICOABDOMINOPLVICOCONCONTRASTE20150129/"
        series:
          type: array
          description: |
            Series considered in the dataset. 
            This is needed because new series can be added later in the datalake for this study but the dataset can not change.
          items:
            $ref: '#/components/schemas/Series'
        url:
          type: string
          maxLength: 256
          format: url
          description: "Link to the study in the case explorer web portal." 
          example: 'https://www.quibim.com/studies?id=5e5629835938d12160636353'
        sizeInBytes:
          type: integer
          description: |
            The total size of files in all the series selected for this study in the dataset. 
            Null if metadata still not collected.
          example: '182460520'
          
    Series:
      type: object
      properties:
        folderName:
          type: string
          description: 'Directory name of the series'
          example: "AXT1XL"
        tags:
          type: array
          description: 'A list of tags assigned to the series'
          example: '["Axial", "T2W"]'
          items:
            type: string
    Subject:
      type: object
      properties:
        subjectName:
          type: string
          maxLength: 128
          description: "The subject name, which is anonymized and unique"
        subjectId:
          type: string
          maxLength: 32
          description: "The datalake explorer internal ID"
        eForm:
          type: object
          description: "The clinical data of the subject"
      
    License:
      type: object
      properties:
        title:
          type: string
          maxLength: 128
          example: "CC BY 4.0"
        url:
          type: string
          maxLength: 256
          format: url
          example: "https://creativecommons.org/licenses/by/4.0/"

    DatasetAccess:
      type: object
      properties:
        creationTime:
          type: string
          format: date-time
          description: "Date and time when the dataset access was created (the access was granted)."
          example: '2023-09-19T09:52:13.001Z'
        username:
          type: string
          minLength: 3
          maxLength: 128
          description: "The name of the user wich accessed the dataset."
          example: "James Gordon"
        accessType:
          type: string
          enum: ["i", "b"]
          description: |
            The type of access: 'i' for interactive (for example: a desktop or web service) and 'b' for batch (a job).
          example: "b"
        toolName:
          type: string
          description: "The name of application, framework, docker image or helm chart used to analyze or process the datasets"
          example: "jupyter-tensorflow"
        toolVersion:
          type: string
          description: "The version of application, framework, docker image or helm chart used to analyze or process the datasets"
          example: "2.2.9"
        image:
          type: string
          description: "The image used for the container."
          example: "chaimeleon-library/ubuntu-python-tensorflow-desktop-jupyter:3.12"
        resourcesFlavor:
          type: string
          description: "The flavor of resources required by the job or deployment launched."
          example: "large-gpu"
        duration:
          type: integer
          description: |
            Specified only in jobs, and when the job has finished, otherwise null.
            The total execution time in minutes (from startTime to endTime).
          example: "23"
        startTime:
          type: string
          format: date-time
          description: |
            Specified only in jobs, otherwise null.
            Date and time when the job was started in k8s.
          example: '2023-09-19T09:52:13.001Z'
        endTime:
          type: string
          format: date-time
          description: "Specified when the job or deployment has finished, otherwise null."
          example: '2023-09-19T10:29:19.001Z'
        endStatus:
          type: string
          description: "(Only for jobs) The end status of the job."
          example: "succeeded"
        cmdLine:
          type: string
          description: "(Only for jobs) The cmdLine used for the container."
          example: "# ls -lh"
        openchallengeJobType:
          type: string
          description: "The image used for the container."
          example: "training"


#   ErrorResponse:
#     type: object
#     properties:
#       error:
#         type: string
#         description: descriptive message
#       status_code:
#         type: string
#         description: HTTP status code
          
  responses:
    Unauthorized:
      description: "unauthorized user or access token is missing or invalid"
